*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    margin-bottom: 1em;
}

.container{
    text-align: center;
    width: 80%;
    margin: 0 auto;
    padding: 1.5em 0;
}

.card-container{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    gap: 20px;
    
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    width: calc(100% / 4 - 20px / 4 * 3);
    padding: 1em;
    border: 1px solid black;
    
}

.top-card{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.img-container{
    width: 150px;
    height: 100px;
    
}

.my-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

p{
    text-align: start;
}

.price{
    width: 100%;
    text-align: end;
}